body, html {
    height: 100%;
    display: grid;
}

body {
    margin: 0;
}

.navbar {
    border: 1px palevioletred solid;
}

.navigation {
    border: 1px olivedrab solid;
    display: flex;
    padding: 10px 15px;
}

.nav-link {
    color: #404040;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

    padding: 0 10px;
}

.right {
    margin-left: auto;
}

#grid-menu-icon {
    /* border: orange 1px solid; */
    align-self: center;
}

#grid-menu-icon img {
    width: 18px;
    height: auto;
    opacity: 60%;
}

.parent {
    margin: auto;
    border: 1px teal solid;
}

#google-logo {
    display: block;
    margin: 0 auto;
}

.search-wrapper {
    position: relative;
    /* border: 1px blueviolet solid; */
}

.search-wrapper img {
    position: absolute;
    top: 38px;
    left: 18px;
    opacity: 60%;
    /* border: 1px black solid; */
}

#magnifying-glass-icon {
    width: 3%;
    height: auto;
}

#search {
    border: 1px #DEE1E5 solid;
    border-radius: 25px;
    min-width: 580px;
    height: 45px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

    padding-left: 50px;
    font-size: 16px;
}

#search:hover {
    box-shadow: 0px 2px 6px #DEE1E5;
}

#search:focus {
    outline: none;
}

.search-buttons {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    margin-top: 15px;
}

.button {
    color: #5F6367;
    background-color: #F2F2F2;
    font-size: 14px;
    text-decoration: none;

    display: inline-block;
    text-align: center;
    margin: 10px 3px;
    padding: 10px 18px;

    border-radius: 4px;
}

.button p {
    margin: 0;
}

.button:hover {
    color: #222;
    /* border: 1px solid #c6c6c6; */
    box-shadow: 0 0 0 1px #c6c6c6;
}