body, html {
    height: 100%;
    display: grid;
}

.parent {
    margin: auto;
}

.logo img {
    display: block;
    margin: 0 auto;
}

.search {
    border: 1px #DEE1E5 solid;
    border-radius: 25px;
    min-width: 580px;
    height: 45px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}